*.code-workspace

# 游戏 Mod 安装文件夹
GameDir
Mods.lnk
ref/
*.dll
*.pdb

# rel
mod-*/
BmA11y-*/
WkA11y-*/
*.zip

# ---- UE4SS
.xmake
BuildFiles/

# Binaries & Intermediates
Output/
VS_Solution/
Releases/
Binaries/
Intermediates/
